/* Base Application Styles */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.reading-canvas {
  border: 1px solid #ccc;
  max-width: 100%;
}

#reading-holder {
  position: relative;
  height: 80vh;
}

.popover-holder {
  position: fixed;
  pointer-events: none;
  width: 0;
}

.popover-holder .badge {
  position: relative;
  margin-left: -50%;
  top: -1.5em;
}

#card-modal {
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: none;
}

.close {
  cursor: pointer;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 9;
}

.modal-body {
  overflow-y: scroll;
}

.center-pin {
  transform-origin: 50% 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#reading-list {
  line-height: 3em;
}

.pickle-text {
  fill: white;
  font-size: 10px
}

.pickle-text-back {
  fill: green;
}

.pickle-btn-holder {
  display: none;
  cursor: pointer;
  height: 20px;
  width: 50px;
}

.c-holder:hover .pickle-btn-holder {
  display: block;
}

.final-pickle {
  pointer-events: none;
}

.final-pickle-text-back {
  fill: white;
  stroke: black;
}

.final-pickle-text {
  font-size: 16px;
  transform: translate(40px, -5px);
  text-anchor: middle;
}

.reversed {
  transform: scale(-1);
}

.question {
  font-size: 3em;
  display: inline-block;
  animation: wobble 3s infinite;
}

.capitalize{
  text-transform: capitalize;
}

.c-level {
  font-size: 1.5vw;
}
.c-circle {
  border: 2px solid #ccc;
  border-radius: 10em;
  padding: 1em;
  position: relative;
  display: inline-block;
  line-height: 0;
  background-color: #ddd;
  transition: background-color 0.5s ease;
}

.c-circle.active, .active .c-circle {
  background-color: #28a745;
}
