/* Base Application Styles */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.reading-canvas {
  border: 1px solid #ccc;
  max-width: 100%;
}

#reading-holder {
  position: relative;
}

.popover-holder {
  position: fixed;
  pointer-events: none;
  width: 0;
}

.popover-holder .badge {
  position:relative;
  margin-left: -50%;
  top: -1.5em;
}

#card-modal {
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: none;
}

.close {
  cursor: pointer;
}

.modal-body {
  overflow-y: scroll;
}

.center-pin {
  transform-origin: 50% 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
